{% extends "base.html" %}

{% block content %}

<h1>Sign up below!</h1>

    <form action='/' method='POST'>

        <label>Username</label>
        <input type='text' name='username' value='{{username}}' />
        {% if username_error %}
            <span>{{username_error}}</span>
        {% endif %}

        <br/>
        <label>Password</label>
        <input type='password' name='password' value='{{password}}' />
        {% if password_error %}
            <span>{{password_error}}</span>
        {% endif %}
        
        <br/>
        <label>Password Confirm</label>
        <input type='password' name='pass_conf' value='{{pass_conf}}'/>
        {% if pass_conf_error %}
            <span>{{pass_conf_error}}</span>
        {% endif %}

        <br/>
        <label>Email</label>
        <input type='text' name='email' value='{{email}}' />
        {% if email_error %}
            <span>{{email_error}}</span>
        {% endif %}

        <br/>
        <input type='submit' name='submit' />
    </form>

{% endblock %}